<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6DC27A31C7625EB005DB48F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6DC27BA1C7625EC005DB48F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6DC27C51C7625EC005DB48F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
